@model pleanrioASP.Data.Entities.Persona

@{
	ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Esta seguro que desea borrar?</h3>
<div>
	<h4>A: @Model.Nombre</h4>
<hr />
<
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="Borrar" class="btn btn-outline-danger" /> |
		<a asp-action="Index" class="btn btn-outline-success">Regresar</a>
	</form>
</div>